@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 62.5%;
}
html * {
  box-sizing: border-box;
}
body{
  font-family: 'Kosugi Maru', meiryo, 'メイリオ', sans-serif;
  font-size: 2.0rem;
  line-height: 1.7;
  color: #0D1010;
  letter-spacing: 0.05em;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}


/* ボタン共通 */
.btn_link {
  padding: 0 10px;
  line-height: 2.0;
  text-align: center;
  font-size: 2.4rem;
  color: #0D1010;
  background-color: #fff;
  border: solid 2px #370CEB;
  border-radius: 10px;
}
.btn_link:hover {
  background-color: #dad4f0;
  transition: .5s;
}

/* 囲み */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}
/* 囲み・ページ内リンクにジャンプしたとき、固定ヘッダーで隠れないように */
.contents_inner {
  padding-top: 110px;
  margin-top:-110px;  
}

/* 見出し・テキスト */
/* h1は.header-logoで定義 */
h2 {
  font-size: 8rem;
  color: #F0F1F6;
  text-align: center;
}
h3 {
  font-size: 4rem;
  color: #1D1DE8;
  text-align: center;
}
h4 {
  margin-top: 17px;
  font-size: 2.8rem;
  color: #0D1010;
  text-align: center;
}
.section_text {
  margin-top: 11px;
  font-size: 2.4rem;
  color: #0D1010;
}


/* HEADER
------------------------------- */

/* 固定ヘッダーの分のスペースを開けておく */
.header_space {
  height: 110px;      /* ヘッダーの高さと合わせる */
}
/* ハンバーガーメニューのチェックボックスを隠す */
.menu_content input {
  display: none;
}
.page_header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
.header_logo {
  width: 20%;
}
.menu_list {
  display: flex;
  justify-content: right;
}
.menu_list li {
  margin: 20px;
}
a.menu_link {
  color: #344BC1;
  font-size: 2.5rem;
}
.menu_link:hover {
  border-bottom: solid 2px;
}
.menu_content {
  display: flex;
  align-items: center;
}

/* ハンバーガーメニュー */
.menu_btn {
  display: flex;
  height: 46px;
  width: 66px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu_btn span, 
.menu_btn span::before,
.menu_btn span::after {
  content: '';
  display: block;
  height: 2px;
  width: 46px;
  background-color: #707070;
  position: absolute;
  transition: .3s ease-in-out;
}
.menu_btn span::before {
  bottom: 16px;
} 
.menu_btn span::after {
  top: 16px;
}
/* チェックを付けて×にする */
#menu_btn_check:checked ~ .menu_btn span {
  background-color: rgba(255,255,255,0);
}
#menu_btn_check:checked ~ .menu_btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  background-color: #fff;  
}
#menu_btn_check:checked ~ .menu_btn span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}

.hamburger {
  width: 100vw;
  height: 712px;
  position: fixed;
  overflow: auto;
  top: 0;
  right: -100vw;
  z-index: 80;
  background-image: url(../img/hamburger\ Menu-pc.jpg);
  background-size: cover;
  background-position: center;
  transition: all 0.1s;
  /* 中身にかかわる部分 */
  padding: 5% 5%;
  display: flex;
  flex-direction: row-reverse;
}

/* チェックされた時に位置を戻す */
#menu_btn_check:checked ~ .hamburger {
  right: 0;
}

/* ハンバーガーの中身 */
.hamburger * {
  color: #fff;
  font-style: meiryo, 'メイリオ', sans-serif;
}
.hmbg_title {
  font-size: 2.8rem;
}
.hmbg_subtitle {
  font-size: 2.4rem;
}
.info_company {
  font-size: 2.4rem;
}

.left_block {
  padding: 10px 20px;
  width: 33%;
}
.right_block {
  padding: 10px 20px;
  width: 66%;
}
.button_block {
  display: flex;
  justify-content: space-evenly;
}

/* ハンバーガーメニュー内のボタン。ここだけ文字色が違う */
.btn_hbg {
  width: 47%;
  color: #0D1010;
}

.info_guidecorse {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.info_guidecorse div, .info_eventcompany div {
  padding: 0 20px;
  width: 47%;
}

.info_eventcompany {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.left_block div {
  margin-top: 40px;
}


/* FV
------------------------------- */
.fv {
  height: 514px;
  width: 100%;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.fv_text {
  text-align: center;
  padding-top: 138px;
}
.fv_text * {
  color: #F0F1F6;
}
.fv_subtitle {
  font-size: 3.8rem;
}
.fv_renewal {
  font-size: 6rem;
  font-family: 'メイリオ', sans-serif;
}

/* 背景画像 */
.swimmer_wrapper {
  max-width: 1280px;    /* wrapperと同じ */
  margin: 0 auto;       /* wrapperと同じ */
  padding: 0 4%;        /* wrapperと同じ */
  background-image: url(../img/dolphin.jpg), url(../img/penguins.jpg), url(../img/seaLion.jpg);
  background-size: contain;
  background-position: 20px 40px, 20px 1350px, 20px 2800px;
}

.today_info {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  /* height: 176px; */
}
.today_timeticket {
  display: flex;
  justify-content: space-evenly;
  width: 62%;     /*  本当は66.6%1(2/3)にしたいが、「イルカショー」の文が長いのでこちらを短くする */
}
.today_info_content {
  font-size: 2.5rem;
  line-height: 2;
}

/* おすすめ情報
------------------------------- */
#recommend {
  margin-top: -10px;  /* 100 - 110 */
}
.recommend_list {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.recommend_card {
  width: 31%;
}
.recommend_card div img {
  width: 100%;
  object-fit: cover;
}

/* ニュース
------------------------------- */
#news {
  /* margin-top: 86px; */
  margin-top: -30px;
}
.news_wrapper {
  width: 580px;
  margin: 36px auto 0;
}
.news_list tr th, .news_list tr td {
  font-size: 2.5rem;
  padding: 6px 10px;
}

.news_wrapper p {
  text-align: right;
}

/* モデルコース
------------------------------- */
#course {
  margin-top: 15px;
}
.course_list {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.course_card {
  width: 31%;
}
.course_card div img {
  width: 100%;
  object-fit: cover;
}


/* 施設案内
------------------------------- */
#guide {
  margin-top: -15px;
}
.guide_list {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.guide_card {
  width: 47%;
}
.guide_card div img {
  width: 100%;
  object-fit: cover;
}
.guide_text {
  font-size: 2.2rem;
  text-align: left;
  color: #0D1010;
}

/* アクセス
------------------------------- */
#access {
  margin-top: -30px;
}
.access_map {
  margin: 48px auto 0;
  width: 100%;
}
.access_content {
  display: flex;
  justify-content: space-between;
}
.access_info {
  width: 50%;
  padding: 0 2%;
}
.access_info h4 {
  text-align: left;
}
.btn_train {
  display: inline-block;
  margin-top: 18px;
}

/* 料金
------------------------------- */
#price {
  margin-top: 6px;

}
.price_type {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.price_info {
  width: 45%;
  padding: 0 4%;
}
.price_info ul li {
  color: #0D1010;
  font-size: 2.4rem;
}
/* ボタン右寄せ */
.btn_group_wrapper {
  text-align: right;
}
.btn_group {
  display: inline-block;
  margin-top: 60px;
  text-align: right;
}


/* バナー
------------------------------- */
.banner_grid {
  margin: 112px auto 0;
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(3, 1fr);
}
.btn_return_wrapper {
  text-align: right;
}
.btn_return {
  display: inline-block;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 43px;    /* 背景画像を入れたいのでここだけbottomもセット */
}

/* FOOTER
------------------------------- */
footer {
  width: 100%;
  height: 600px;
  background-image: url(../img/pc-footer.jpg);
  background-size: auto;
  background-position: center bottom;
  background-repeat: repeat;
}
footer * {
  color: #fff;
  font-family: 'メイリオ', sans-serif;
}
.footer_title {
  padding-top: 70px;
  font-size: 3.2rem;
}
.footer_info {
  display: flex;
  justify-content: space-between;
}
.footer_content {
  margin-top: 35px;
  width: 45%;
}
.content_title {
  font-size: 2.4rem;
}
.footer_text {
  font-size: 2rem;
}
.footer_menu {
  margin-top: 132px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_menu li {
  margin-right: 20px;
  font-size: 2rem;
}
.footer li :nth-last-child() {
  margin-right: 0;
}

.credit {
  text-align: center;
  margin-top: 55px;
  font-size: 1.8rem;
}


/* モバイル版
------------------------------- */
@media (max-width: 767px) {

/* 共通部分
------------------------------- */
  body {
    font-size: 1.2rem;
  }
  .btn_link {
    font-size: 1.2rem;
  }

  .contents_inner {
    padding-top: 86px;
    margin-top: 86px;
  }

  .swimmer_wrapper {
    background-position: 20px 140px, 20px 2400px, 20px 4000px;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    margin-top: 10px;
    font-size: 1.4rem;
  }
  .section_text {
    font-size: 1.2rem;
  }

/* HEADER
------------------------------- */
  /* 固定ヘッダーの分のスペースを開けておく */
  .header_space {
    height: 58px; /* ヘッダーの高さと合わせる */
  }
  .page_header {
    height: 58px;
    display: flex;
  }
  .header_logo {
    width: 135px;
    height: 41px;
  }
  .menu_list li {
    margin: 5px;
  }
  a.menu_link {
    font-size: 1.2rem;
  }
  .menu_btn {
    height: 18px;
    width: 26px;
  }
  .menu_btn span, 
  .menu_btn span::before,
  .menu_btn span::after {
    height: 2px;
    width: 26px;
  }
  .menu_btn span::before {
    bottom: 8px;
  } 
  .menu_btn span::after {
    top: 8px;
  }
  .hamburger {
    height: 837px;
    background-image: url(../img/hamburger\ Menu-sp.jpg);
  }
  .hmbg_title, .hmbg_subtitle {
    font-size: 1.6rem;
  }
  .info_company {
    font-size: 1.4rem;
  }
  .hamburger {
    flex-direction: column;
  }
  .right_block {
    padding: 0;   /* 消しておく */
    width: 100%;
  }
  .button_block {
    display: block;
  }
  .btn_hbg {
    display: block;
    width: 320px;
    margin: 23px auto 0;
  }
  .info_guidecorse {
    margin-top: 33px;
    display: block;
  }
  .info_guidecorse div {
    margin-top: 14px;
    width: 100%;
  }
  .indent_list {
    margin-left: 20px;
  }
  .info_eventcompany {
    margin-top: 0;
    display: block;
  }
  .info_eventcompany div {
    margin-top: 14px;
    width: 100%;
  }
  .left_block {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .left_block div {
    margin: 0 auto 0 30px;
  }

  /* FV
  ------------------------------- */
  .fv {
    height: 303px;
  }
  .fv_text {
    padding-top: 91px;
  }
  .fv_subtitle {
    font-size: 2.2rem;
  }
  .fv_renewal {
    font-size: 2.2rem;
  }
  

  /* 今日のイベント
  ------------------------------- */
  .today_info {
    display: block;
  }
  .today_info_content {
    font-size: 1.5rem;
  }
  .today_timeticket {
    width: 100%;
  }
  .today_info_event {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  /* おすすめ情報
  ------------------------------- */
  .recommend_list {
    display: block;
  }
  .recommend_card {
    width: 100%;
  }
  .recommend_link {
    margin-top: 12px;
    display: flex;
  }
  .recommend_card div {
    width: 45%;
  }
  .recommend_card p {
    margin-left: 20px;
  }

  /* ニュース
  ------------------------------- */
  #news {
    margin-top: -40px;
  }
  .news_wrapper {
    width: 300px;
    margin: 16px auto 0;
  }
  .news_list tr th, .news_list tr td {
    font-size: 1.2rem;
    padding: 6px 10px;
  }
  .news_list {
    margin: 0 auto 0;
  }

  /* モデルコース
  ------------------------------- */
  #course {
    margin-top: -42px;
  }
  .course_list {
    display: block;
  }
  .course_card {
    display: block;
    width: 100%;
    margin-top: 38px;
  }

  /* 施設案内
  ------------------------------- */
  #guide {
    margin-top: -40px;
  }
  .guide_list {
    display: block;
  }
  .guide_card {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
  .guide_list p {
    text-align: center;
  }

  /* アクセス
  ------------------------------- */
  #access {
    margin-top: -40px;
  }
  .access_map {
    margin: 10px auto 0;
  }

  /* 料金
  ------------------------------- */
  #price {
    margin-top: -40px;
  }
  .price_type {
    margin-top: 29px;
    display: block;
  }
  .price_info {
    width: 100%;
    padding: 0 4%;
    text-align: center;
    margin-top: 30px;
  }
  .price_info ul {
    margin-top: 11px;
    display: inline-block;
  }
  .price_info ul li {
    font-size: 1.2rem;
    text-align: left;
  }
  .btn_group_wrapper {
    text-align: center;
  } 
  .btn_group {
    margin-top: 21px;
  }
  .banner_grid {
    margin: 90px auto 0;
    gap: 13px;
    grid-template-columns: 1fr 1fr;
  }

  /* FOOTER
  ------------------------------- */
  footer {
    height: 445px;
    background-color: #755AE6;
    background-image: url(../img/sp-footer.jpg);
    background-repeat: no-repeat;
  }
  .footer_title {
    padding-top: 18px;
    font-size: 2.5rem;
  }
  .footer_info {
    display: block;
  }
  .footer_content {
    margin-top: 15px;
    width: 100%;
  }
  .content_title {
    font-size: 1.4rem;
  }
  .footer_text {
    font-size: 1.4rem;
  }
  .footer_menu {
    margin-top: 34px;
    justify-content: flex-start;;
  }
  .footer_menu li {
    margin-right: 20px;
    font-size: 1.4rem;
  }
  .footer li :nth-last-child() {
    margin-right: 0;
  }
  
  .credit {
    margin-top: 39px;
    font-size: 1.2rem;
  }  

}